@media (553px <= width <= 660px) {
  .navbar1-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #09507c;
  }
  .navbar1-txt {
    width: 60%;
    height: 50px;
    color: whitesmoke;
    font-size: 17.5px;
    margin-left: -30px;
    text-align: center;
  }

  .navbar1-btn {
    cursor: pointer;
    height: 45px;
    width: 125px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    background-color: rgb(254, 193, 79);
  }
  .navbar1-x {
    color: whitesmoke;
    font-size: 25px;
    position: absolute;
    top: 0%;
    right: 2%;
    cursor: pointer;
  }

  /* SUBNAVBAR SECTION */
  .sub-navbar-container {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-img {
    width: 250px;
    cursor: pointer;
  }
  .menu-icon-sec {
    margin-top: 10px;
    margin-right: 10px;
    align-items: center;
  }
  .menu-icon {
    width: 35px;
    margin-bottom: -15px;
  }
  .menu-txt {
    font-size: 12.5px;
  }

  #hidden,
  #hide-search-icon {
    display: none;
  }

  /* /////////////////////MAIN SECTION/////////////////// */

  .main-sec-left-img,
  .main-sec-right-img,
  .graduation-cap {
    width: 570px;
  }
  .graduation-cap {
    width: 20px;
    margin-right: 20px;
  }

  .prospective-box {
    min-width: 400px;
    max-width: 500px;
    height: 325px;
    margin-top: 0px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .graduation-cap {
    width: 20px;
    margin-right: 20px;
  }
  .prospective-heading {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-top: 20px;
  }
  .propspective-txt {
    font-size: 18px;
    max-width: 95%;
  }

  .prospective-sub-heading {
    max-width: 95%;
  }

  .prospective-btn {
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #fec14f;
    width: 95%;
    height: 45px;
    position: relative;
  }
  .prospective-btn::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: orange;
    transition: transform 300ms ease;
    transform: scaleX(0);
    transform-origin: left;
  }
  .prospective-btn:hover::before,
  .prospective-btn:focus::before {
    transform: scaleX(1);
  }
  .prospective-btn {
    z-index: 1;
  }
  #line-73 {
    position: absolute;
    /* top: 60%; */
    top: 72%;
    left: 4%;
  }
  #line-70 {
    margin-top: 275px;
  }
  #line-95 {
    position: absolute;
    /* top: 145%; */
    top: 175%;
    left: 4%;
    padding-bottom: 55px;
  }

  /* /////////////UNLOCKING POTENTIAL SECTION */
  .unlocking-potential-div {
    margin-top: 275px;
    text-align: center;
    min-width: 500px;
    max-width: 550px;
    cursor: pointer;
    overflow: hidden;
    height: 380px;
    max-height: 400px;
    position: relative;
  }

  .unlocking-potential-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 30px;
    width: 500px;
    margin-left: 15px;
  }
  .unlocking-potential-img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 92px;
    bottom: -52px;
    overflow: hidden;
    transition: transform 0.5s;
  }
  .unlocking-potential-img:hover {
    transform: scale(1.04);
    -ms-transform: scale(1.04);
  }

  .play-btn-div {
    background-color: #0079c0;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    z-index: 1;
    position: absolute;
    left: 225px;
    top: 52%;

    transition: background-color 1s;
  }
  .play-btn-img {
    width: 20px;
    display: block;

    z-index: 1;
    position: absolute;
    left: 30px;
    top: 35%;
  }
  .play-btn-div:hover {
    background-color: #074263;
  }

  /* //////////////////ALUMNI SECTION MOBILE SCREEN #2*/

  .alumni-work-heading {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-top: 75px;
    margin-bottom: -50px;
    margin-left: 15px;
  }
  .alumni-work-sec-div {
    background-color: whitesmoke;
    height: 250px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .alumni-work-img-div {
    height: 200px;
  }

  .alumni-work-img-1,
  .alumni-work-img-2 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
  .alumni-work-img-2 {
    height: 120px;
  }

  .alumni-work-img-3 {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .alumni-work-img-4 {
    margin-left: 25px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 30px;
    gap: 50px;
  }
  .alumni-work-img-5 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #barclay-img {
    width: 190px;
    margin-left: 5px;
    margin-top: 0px;
  }
  .alumni-work-img-first {
    width: 185px;
    margin-left: 15px;
    position: relative;
    top: 25px;
  }
  .alumni-work-img-second {
    width: 222px;
    height: 99%;
  }
  .agilant {
    width: 100px !important;
    aspect-ratio: 1/1 !important;
  }
  .alumni-work-img-third,
  .alumni-work-img-fourth,
  .alumni-work-img-fifth {
    width: 175px;
    position: relative;
  }
  .alumni-work-img-third {
    top: 30px;
  }
  .alumni-work-img-fourth {
    top: -30px;
  }
  .alumni-work-img-fifth {
    top: 15px;
    transition: opacity 4s;
  }
  .alumni-slider-dots {
    position: relative;
    top: 10px;
    right: 10px;
    margin-left: 175px;
    margin-top: -45px;
    padding-bottom: 25px;
    height: 10px;
  }
  .dot {
    border: none;
    background-color: dodgerblue;
    margin-top: 25px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-left: 25px;
    cursor: pointer;
  }
  .dot:hover {
    background-color: #09507c;
  }
  .hidden {
    display: none;
  }
  /*///////////////// SUPPORT PER SCHOLAS SECTION //////////////////*/
  .support-perscholas-div {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: #0079c0;
  }
  .support-ps-img {
    height: 400px;
  }
  .support-ps-box-div {
    background-color: #0079c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    padding-top: 15px;
  }
  .support-ps-heading {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    color: whitesmoke;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
  }
  .support-ps-para {
    min-width: 450px;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    margin-top: 0px;
    height: 150px;
    color: whitesmoke;
    font-size: 18px;
    line-height: 25px;
  }
  .donate-btn {
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    background-color: #fec14f;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }
  .donate-btn::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: orange;
    transition: transform 300ms ease;
    transform: scaleX(0);
    transform-origin: left;
  }
  .donate-btn:hover::before,
  .donate-btn:focus::before {
    transform: scaleX(1);
  }
  .donate-btn {
    z-index: 1;
  }
  /* /////////////BOTTOM PS LOGO */
  .bottom-ps-logo {
    cursor: pointer;
    height: 80px;
    padding-top: 30px;
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-left: 15px;
    margin-right: 15px;
  }
  #line-233 {
    padding-top: 25px;
    width: 250px;
  }

  .bold-txt,
  .light-txt {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    cursor: pointer;
    transition: color 1s;
  }
  .light-txt {
    color: rgb(107, 105, 105);
  }
  .bold-txt:hover,
  .light-txt:hover {
    color: dodgerblue;
  }
  .bottom-ps-categories-div,
  .email-section {
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
    margin-right: 10px;
  }
  .email-section {
    display: flex;
    flex-direction: column;
  }
  .email,
  .adm-ques {
    display: flex;
    justify-content: flex-start;

    margin-left: 10px;
  }
  .email-us {
    font-weight: bold;
    margin-right: 10px;
  }

  .email-add {
    cursor: pointer;
    text-decoration: underline;
  }
  .email-add:hover {
    color: dodgerblue;
  }
  .social-media-icons {
    padding-bottom: 20px;
  }
  #social-media-logo {
    width: 30px;
    margin-top: 10px;
    margin-left: 12.5px;
  }
  /* //////////////////////////////// */
  .sign-up-heading {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    padding-top: 15px;
    line-height: 35px;
    font-size: 25px;
  }
  .email-field-div {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    margin-left: 0px;
    margin-right: 10px;
  }
  .email-add-field {
    outline: none;
    height: 40px;
    width: 350px;
    border: none;
    background-color: transparent;
    margin-left: 0px;
    border-bottom: 3.5px solid black;
  }
  .email-add-field::placeholder {
    font-size: 17.5px;
  }
  .sign-up-btn {
    cursor: pointer;
    width: 140px;
    height: 50px;
    font-weight: bold;
    background-color: #fec14f;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -5px;
  }
  .footer {
    color: rgb(107, 105, 105);
    font-size: 13px;
    margin-top: 40px;
    margin-left: 10px;
    line-height: 10px;
  }
  .hide-footer-sec1 {
    border: 1px solid red;
    display: none;
  }
  .hide-footer-sec2 {
  }

  .footer-line-1 {
    padding-bottom: 5px;
  }
  .footer-line-1a {
    margin-top: -5px;
    cursor: pointer;
  }
  .footer-line-1a:hover {
    color: dodgerblue;
  }

  .footer-line-1b-div {
    display: flex;
    margin-left: -10px;
    margin-bottom: 20px;
  }
  .footer-line-1b {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid gray;
  }
  .door-privacy {
    border: none !important;
  }
  .footer-logo {
    width: 90px;
    margin-left: 10px;
    cursor: pointer;
  }
}

/* /////////////////FINISH/////////////////////////// */
